.gridBill {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: 1rem;

  width: 90vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.historyInvoice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  padding: 1rem 1rem;
  max-height: 620px;
  overflow-y: auto;
}

.historyInvoice::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}

.historyInvoice::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #21d4fd, #2152ff);
  background-size: 100% 100%;
  border-radius: 5px;
}

.historyInvoice::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #332bff, #020073);
  background-size: 100% 100%;
}

.selectedInvoice {
  border: 2px solid #2152ff;
}

@media (max-width: 900px) {
  .gridBill {
    grid-template-columns: 90vw;
  }
}
